body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header {
  background: #ff4081;
  color: white;
  padding: 15px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ff80ab;
  color: white;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background: #eee;

}
select {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}
#notesContent {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
